<style>
	td {
		font: 12px arial, sans-serif;
	}
	span {
		font: 10px arial, sans-serif;
	}
</style>
<table cellpadding="10" cellspacing="0" border="1" width="100%">
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
						<td align="center">
							<%= image_tag("holiness-logo-vertical-pb.png", alt: "logo", size:"150x112") %>
						</td>
				</tr>
				<tr>
					<td align="center" style="font: 20px arial, sans-serif;">
						FORMUL&Aacute;RIO DE INSCRI&Ccedil;&Atilde;O<br/>
						Encontro da 4&ordf; Regi&atilde;o 2015<br/>
						Igreja Evang&eacute;lica Holiness de Cuiab&aacute;
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			<table cellpadding="5" cellspacing="0" border="1" width="100%">
				<tr>
					<td colspan="3">Nome:</td>
				</tr>
				<tr>
					<td width="33%">Nome Crachá:</td>
					<td width="33%">Data de Nascimento:</td>
					<td>Sexo: (&nbsp;&nbsp;&nbsp;) Masculino (&nbsp;&nbsp;&nbsp;) Feminino </td>
				</tr>
				<tr>
					<td>E-mail:</td>
					<td colspan="2">Igreja:</td>
				</tr>
				<tr>
				</tr>
			</table>
			<hr>
			<table cellpadding="5" cellspacing="0" border="1" width="100%">
				<tr>
					<td>Plano de Pagamento:<br/>
				    <% @payment_plans.each do |payment_plan| %>
				    		(&nbsp;&nbsp;&nbsp;) <%= payment_plan.name %>
				    		<%= simple_format(payment_plan.info) %>
				    <% end %>
					</td>
				</tr>
			</table>
			<hr>
			<table cellpadding="5" cellspacing="0" border="1" width="100%">
				<tr>
					<td width="30%">Restrições alimentares: (&nbsp;&nbsp;&nbsp;) Não (&nbsp;&nbsp;&nbsp;) Sim </td>
					<td>Quais?</td>
				</tr>
				<tr>
					<td colspan="2">Cônjuge/Familiares:<br/><br/><br/><br/><br/><span>* Listar os nomes dos familiares que estarão no Encontro</span></td>
				</tr>
				<tr>
					<td colspan="2">Preferência de Hospedagem: (&nbsp;&nbsp;&nbsp;) Local do Encontro (&nbsp;&nbsp;&nbsp;) Hotel ou Pousada<br><span>* Hospedagem em Hotel ou Pousada será por conta do participante.</span></td>
				</tr>
			</table>
			<hr>
			<table cellpadding="5" cellspacing="0" border="1" width="100%">
				<tr>
					<td>Observa&ccedil;&otilde;es Extras:<br/><br/><br/><br/><br/><br/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>