<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for [:admin,@state,@city] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.input :name, class: 'form-control' %>

      <%= f.submit "Salvar alteração", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
