<div class="center jumbotron">
  <h1><%= image_tag("holiness-logo-vertical.png", alt: "logo", size: "200x149") %></h1>

  <h2>
    Formulário de inscrição para o Encontro da 4&ordf; Região
  </h2>

  <span class="success">Inscrição efetuada com sucesso!</span>
	<div class="well well-small">
		<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sua inscrição será confirmada posteriormente via e-mail.</p>
		<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Neste serão solicitadas as informações sobre transporte, dia e horário de chegada.</p>
	</div>

</div>

